.mainContent{
    .date{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
    }
    .homeContent{
        h1{
            text-align: center;
        }
        border-left: 1px solid $teal;
        margin: 2rem 0;
        padding: 3rem 0 3rem 1rem;
        -webkit-box-flex: 2;
            -ms-flex: 2;
                flex: 2;
        min-width: 15rem;
        a{
            text-decoration: underline;
            text-transform: lowercase;
        }
    }
}
.registrationBtn{
    text-align: center;
    margin: 0 0 .3rem 0;
    #registrationHome{
        display: block;
        width: 100%;
        padding: 1.3rem 0;
        border: 1px solid $teal;
        font-size: 1.4rem;
        &:hover{
            background-color: $teal;
            
        }
        &:hover span{
            color: $black;
        }
    }
}

.companyLogo{
    display: none;
}