/* color */
$black: #000;
$grey: rgb(41, 41, 41);
$greyT: rgba(41, 41, 41, 0.9);
$white: #fff;
$anthraciet: #292929;
$red: #a00;
$tealDark: rgb(0, 76, 82);
$teal: rgb(0, 215, 230);
$tealBlue: rgb(0, 70, 123);
$tealT: rgba(0, 215, 230, .3);

/* font */
$fontRajdhani: "Rajdhani", sans-serif;
$fontAllerta: "Allerta Stencil", sans-serif;
$fontRubik: "Rubik", sans-serif;